<div class="container">
  <section class="wrapper">
    <h1>Welcome to B's List</h1>
    <p>What do you want to do?</p>
    <nav id="main_navigation">
    <ul id="main_links">
      <li><a href="#" >Create a User</a></li>
      <li><a href="#" >Update a User</a></li>
      <li><a href="/post/new" >Create a Post</a></li>
      <li><a href="/categories/list" >List Categories</a></li>
      <li><a href="#" >Something else?</a></li>
  </section>
</div>
