<div class="container">
  <section class="wrapper">
    <form action="/" method="POST" id="create_post">
      <label for="post_name">Post Name:</label>
      <input id="post_name" type="text" name="post[:name]" placeholder="Name of post" required/>
      <br>
      <label for="post_description">Post Description:</label>
      <input id="post_description" type="text" name="post[:description]" placeholder="Describe this post"required/>
      <br>
      <label for="post_price">Post Price:</label>
      <input id="post_price" type="text" name="post[:price]" placeholder="The price of the item"/>
      <br>
      <label for="post_email">Post Price:</label>
      <input id="post_email" type="text" name="post[:email]" placeholder="Enter a email address"/>
      <br>
      <label for="category_type">Choose a Category:</label> <br>
      <input type="radio" id="category_name" name="post[:category_type]" value="Electronics"/>Electronics <br>
      <input type="radio" id="category_name" name="post[:category_type]" value="Autos"/>Autos <br>
      <input type="radio" id="category_name" name="post[:category_type]" value="Services"/>Services <br>
      <input type="radio" id="category_name" name="post[:category_type]" value="Forums"/>Forums <br>
      <button name="button">Submit Post</button>
    </form>
  </section>
</div>
