<div class="container">
  <section class="wrapper">
    <h1>Your item has been successfully created!</h1>
    <p>Choose your next action</p>
    <nav>
    <li>Go to <a href="/">homepage?</a></li>
    <li>Go to <a href="/categories/list">Categories page?</a></li>
    <li>Go to your <a href="/:id/profile">profile page?</a></li>
    </nav>
  </section>
</div>
